<div class="row">
  order-list {{title}} works!
  <input type="text" [(ngModel)]="title" />
  <div class="form-group">
    <button class="btn btn-default" (click)="addOrder(title)">Добавить</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <app-orders-array
            [orders]="orders$ | async"
            (orderSelected)="navigateToOrder($event)"
    ></app-orders-array>
  </div>
  <div class="column">
    <app-order-details [order]="order$ | async"></app-order-details>
  </div>
</div>
